<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center mb-3">
        <div class="header-text">
          <h6>Liberty NFT Market</h6>
          <h2>Create, Sell &amp; Collect Top NFT’s.</h2>
          <p>Liberty NFT Market is a really cool and professional design for your NFT websites. This HTML CSS template is based on Bootstrap v5 and it is designed for NFT related web portals. Liberty can be freely downloaded from TemplateMo's free css templates.</p>
          <div class="buttons">
            <div class="border-button">
              <a href="explore.html">Explore Top NFTs</a>
            </div>
            <a href="https://youtube.com/templatemo" target="_blank" class="main-button d-flex align-items-center">Watch Our Videos</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "delivery-navidad.jpg", class:"d-block w-100 banner-img-01"%>
            </div>
            <div class="carousel-item">
              <%= image_tag "happy.jpg", class:"d-block w-100 banner-img-02"%>
            </div>
            <div class="carousel-item">
              <%= image_tag "happy-02.jpg", class:"d-block w-100 banner-img-03"%>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<div class="container selling-items-section">
  <div class="row selling-menu">
    <div class="col selling-label">
      <div class="line-dec"></div>
      Items Currently In The Market.
    </div>
    <div class="col categories-main">
      <div class="categories-container">
        <a  class="main-button">
          All items
        </a>
        <a class="main-button">
          Cat1
        </a>
        <a class="main-button">
          Cat2
        </a>
        <a class="main-button">
          Cat3
        </a>
        <a class="main-button">
          Cat4
        </a>
      </div>
    </div>
  </div>
  <div class="selling-container">
    <div class="item-container">
      <%= image_tag "delivery.avif", class: "item-img"%>
      <div class="item-info-cont">
        <div class="product-name mt-3">Surprise Box</div>
        <div class="discount mt-2 align-items-center">
          <div class="disc-em-cont">
            60% desct.
          </div>
          <div class="last-price-txt">
            22.000
          </div>
        </div>
        <div class="price-txt mt-2">$ 19.990</div>
        <div class="add-to-cart-or-buy-cont mt-2">
          <div class="add-to-cart-btn">Agregar al carrito</div>
          <div class="buy-now-btn">Comprar</div>
        </div>
      </div>
    </div>
    <div class="item-container">
      ITEM2
    </div>
    <div class="item-container">
      ITEM3
    </div>
    <div class="item-container">
      ITEM4
    </div>
  </div>
</div>
