.nav.nav-active {
  display: inline-flex !important;
  transition: all 2s;
}

.alert-primary {
  margin-bottom: 0px;
  position: absolute;
  top: 175px;
  width: 100%;
}

.banner-img-01,
.banner-img-02,
.banner-img-03 {

  border-radius: 21px;
}